@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

.shoutout {
  color:#444444;
	position: fixed;
  left: 20px;
  bottom: 20px;
	z-index: 10;
	font-family: 'Montserrat';
	font-size: 16px;
}

.shoutout a{
  transition: ease-in-out color .5s;
  text-decoration:none;
  color: #555555;
	cursor: pointer;
}
.shoutout a:hover{
  color: #E67162;
	cursor: pointer;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #111111;
  transition: background-color 1.5s ease-in-out;
}

canvas{
  opacity:1;
  color:#000000;
  transition: opacity 1s ease-in-out;
}

.title {
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 250px;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Montserrat';
	text-align: center;
	width: 100%;
}

.title h3 {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: 200;
	font-size: 20px;
	padding: 0;
	margin: 0;
	line-height: 1;
	color: #FFFFFF;
	letter-spacing: 2px;
	transition: ease-in-out color .5s;
}

.title h3:hover {
	color: rgb(30, 255, 0);
	cursor: pointer;
}